.container-inicio img {
  margin: 1.5em auto;
  display: flex;
  width: 40%;
}

.container-form {
  margin: auto 2em;
  padding: 2em;
}

form {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form input,
form textarea {
  padding: .5em;
  border-radius: 7px;
  border: 1px solid #61c3d9;
  font-family: 'Montserrat', sans-serif;
}

.checkbox input {
  width: 5px;
  height: 5px;
}

span a {
  color: #10829c;
  text-decoration: underline;
}

.sesion-links {
  display: flex;
  justify-content: center;
  gap: 1.2em;
}

@media only screen and (min-width: 768px) {
  .container-inicio {
    display: flex;
    /* border: 3px solid red; */
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
  }

  .container-inicio img {
    display: block;
    padding: 2em 4em;
    width: 300px;
  }

  iframe {
    height: 400px;
    width: 400px;
  }
}