/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background-color: #61c3d9;
}

.nav-links a {
  color: #707070;
  text-decoration: none;
  font-weight: 700;
}

/* LOGO */


/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  /*border: 2px solid rgb(10, 7, 204);*/
}

.menu li:hover {
  background-color: #61c3d9;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  /*padding: 5px 0px;*/
  list-style: none;
  /*border: 2px solid black;*/

}

/* DROPDOWN MENU */
.services {
  position: relative;
}

.dropdown {
  background-color: rgb(1, 139, 139);
  /*padding: 1em 0;*/
  position: absolute;
  /*WITH RESPECT TO PARENT*/
  display: none;
  border-radius: 8px;
  /*top: 35px;*/
}

.dropdown li+li {
  /*margin-top: 10px;*/
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #61c3d9;
}

.services:hover .dropdown {
  display: block;
}


/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
  display: none;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #61c3d9;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #61c3d9;
    transition: 0.3s ease;
  }

  .menu li+li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked~.menu {
    display: block;
  }

  .hamburger {
    display: block;
    color: #707070;
    font-weight: 900;
  }

  .dropdown {
    left: 50%;
    top: 50px;
    transform: translateX(35%);
    color: #707070;
    background-color: #61c3d9;
  }

  .dropdown li:hover {
    background-color: #61c3d9;
  }
}

/*logo*/
.logo {
  color: rgb(60, 60, 59);
  display: flex;
  align-items: center;
}

/*brand name*/
.brand-text {
  margin-left: .5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.brand-text span {
  font-weight: 500;
}