.container-profile {
  width: 98%;
  margin: 2em auto;
  padding: 1em auto;
}

form input, select {
  padding: .5em;
  border-radius: 7px;
  border: 1px solid #61c3d9;
  font-family: 'Montserrat', sans-serif;
}

span a,
a {
  color: #10829c;
  font-weight: 400;
  text-decoration: underline;
}

.sesion-links {
  display: flex;
  justify-content: center;
  gap: 1.2em;
}

.container-text-p {
  margin: auto 2em;

}

.container-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  gap: 1.5em;
}
.container-input section {
  width: 270px;
}

.container-text-p article {
  background-color: #61c3d97b;
  padding: 2em;
  margin: 1em;
  border-radius: 7px;

}

.input-icon {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .container-profile {
    width: 50%;
  }

  .container-registro img {
    display: block;
    padding: 2em 4em;
    width: 300px;
  }

  iframe {
    height: 400px;
    width: 400px;
  }
}